* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    background-size: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}
  
  
  header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    border: 2px solid #6a040f;
  }
  
  nav {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(5px); 
  }
  
  .logo img {
    width: 60px;
    height: auto;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    padding: 5px;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .nav-links li a.active {
    font-weight: bold;
    color: #ff6f61;
  }
  
  .nav-links li a:hover {
    color: #ff6f61;
  }
  
  .nav-links li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ff6f61;
    transition: width 0.3s ease;
  }
  
  .nav-links li a:hover::after {
    width: 100%;
  }
  
  .content {
    padding: 20px;
    text-align: center;
}

.content h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.portfolio-list-title {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}


.file {
    background-color: #ffd9d9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.file:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.file img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.file p {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #333;
}

.file a {
    display: inline-block;
    text-decoration: none;
    background-color: #ff6666;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
}

.file a:hover {
    background-color: #e04c4c;
}
  